# INDIAN IT Companies: Revenue VS Stock Price Analysis

The Indian IT sector is a major contributor to the country’s economy, with companies like TCS, Infosys, and Wipro playing a significant role in global technology services. 

## GOAL
This project investigates the relationship between revenue growth and stock price movements of major Indian IT firms over the past decade. By analyzing historical financial data and stock market trends, this study aims to determine how strongly revenue growth influences stock performance. Additionally, the project examines the impact of key events—such as earnings reports, global recessions, and AI adoption—on IT stock prices.

## Research Questions:
1. How strongly does revenue growth impact stock prices of major Indian IT firms?
2. How do major events (earnings reports, global recessions, AI adoption) influence IT stock prices?

***
This project will analyze **three large-cap and two mid-cap Indian IT companies**, selected for their readily available, regular, and detailed financial reports. This ensures reliable data for assessing the correlation between revenue growth and stock price movements.

#### LARGE-CAP IT FIRMS (Market Cap < \\$10 Billion)
- Tata Consultancy Services (TCS)
- Infosys
- Wipro

#### MID-CAP IT FIRMS (\\$2 Billion < Market Cap < \\$10 Billion)
- Persistent Systems
- Mphasis
***

In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
import time

***

### DATA COLLECTION
The revenues and revenue growth rate of the companies was collected from respective annual reports

#### LARGE CAPS

In [2]:
tickets = ["TCS.NS", "INFY.NS", "WIPRO.NS"]
start_date = "2013-04-01"
end_date = "2025-03-31"

In [3]:
data = yf.download(tickets,start=start_date,end=end_date)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  3 of 3 completed

3 Failed downloads:
['INFY.NS', 'WIPRO.NS', 'TCS.NS']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')

In [5]:
closing_prices = data['Close']
yearly_prices = closing_prices.resample('YS-APR').last()
returns = yearly_prices.pct_change() * 100
returns.columns = ["TCS_Return", "INFY_Return", "WIPRO_Return"]
result = pd.concat([yearly_prices, returns], axis=1)
result = result.dropna()
result

,INFY.NS,TCS.NS,WIPRO.NS,TCS_Return,INFY_Return,WIPRO_Return
Date,,,,,,
2014-04-01,426.817047,1054.946411,105.917068,38.063467,21.595670,18.854461
2015-04-01,480.294250,1057.828857,98.330391,12.529304,0.273232,-7.162847
2016-04-01,412.069733,1039.676270,90.426613,-14.204733,-1.716023,-8.037981
2017-04-01,469.690002,1241.496216,99.243706,13.983136,19.411807,9.750551
2018-04-01,632.609375,1768.772461,120.578621,34.686574,42.471031,21.497500
2019-04-01,570.777283,1680.097778,93.478172,-9.774135,-5.013346,-22.475335
2020-04-01,1247.051636,2957.091064,197.704391,118.483053,76.007081,111.497922
2021-04-01,1772.524658,3517.693115,283.479187,42.137231,18.957889,43.385377
2022-04-01,1356.077026,3113.397705,178.304642,-23.494603,-11.493197,-37.101329
2023-04-01,1460.432129,3820.962891,235.372940,7.695367,22.726463,32.006064
2024-04-01,1851.949951,3873.199951,312.200012,26.808354,1.367118,32.640571

In [6]:
# result.to_csv("large_cap_stock.csv")

In [36]:
df = pd.read_excel("Largecap_rev.xlsx")
df

    COMPANY TIME PERIOD  REVENUE (in Cr)  REVENUE GROWTH RATE
0   INFOSYS  2024-04-01           153670             4.700000
1   INFOSYS  2023-04-01           146767            20.600000
2   INFOSYS  2022-04-01           121641            21.000000
3   INFOSYS  2021-04-01           100472            10.600000
4   INFOSYS  2020-04-01            90791             9.816752
5   INFOSYS  2019-04-01            82675            17.232920
6   INFOSYS  2018-04-01            70522             2.975878
7   INFOSYS  2017-04-01            68484             9.677936
8   INFOSYS  2016-04-01            62441            17.108348
9   INFOSYS  2015-04-01            53319             6.355095
10  INFOSYS  2014-04-01            50133            20.600000
11      TCS  2024-04-01           240893             6.800000
12      TCS  2023-04-01           225458            17.576687
13      TCS  2022-04-01           191754            16.797115
14      TCS  2021-04-01           164177             4.605318
15      TCS  2020-04-01           156949             7.159487
16      TCS  2019-04-01           146463            18.975013
17      TCS  2018-04-01           123104             4.355492
18      TCS  2017-04-01           117966             8.578319
19      TCS  2016-04-01           108646            14.789536
20      TCS  2015-04-01            94648            15.693872
21      TCS  2014-04-01            81809            29.877243
22    WIPRO  2024-04-01            89794            -1.253656
23    WIPRO  2023-04-01            90934            14.342118
24    WIPRO  2022-04-01            79528            27.772244
25    WIPRO  2021-04-01            62242             1.470492
26    WIPRO  2020-04-01            61340             4.132007
27    WIPRO  2019-04-01            58906             7.817333
28    WIPRO  2018-04-01            54635            -1.411119
29    WIPRO  2017-04-01            55417             7.334883
30    WIPRO  2016-04-01            51630             9.112811
31    WIPRO  2015-04-01            47318             8.125771
32    WIPRO  2014-04-01            43762            16.116536

***

#### SMALL CAP

In [6]:
tickets=["PERSISTENT.NS","MPHASIS.NS"]
start_date = "2013-04-01"
end_date = "2025-03-31"

In [7]:
data = yf.download(tickets,start=start_date,end=end_date)

YF.download() has changed argument auto_adjust default to True

[*********************100%***********************]  2 of 2 completed

2 Failed downloads:
['MPHASIS.NS', 'PERSISTENT.NS']: YFRateLimitError('Too Many Requests. Rate limited. Try after a while.')